/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 320px) { 
    .info-1{
        font-size: 16px !important;
    }
    .vector-none{
        display: none;
    }
    .menu-mobile{
        display: none;
    }
    .icon-bar{
        display: flex;
        justify-content: flex-end;
    }
    .icon-menu{
        display: block;
        font-size: 30px;
        color: white;
    }
    .menu {
        display: block;
    }
    #list-menu {
        display: none;
    }
    #list-menu{
        z-index: 8;
        flex-wrap: wrap;
        border: 1px solid;
        line-height: 34px;
        justify-content: center;
        padding: 19px 35px;
        position: absolute;
        left: 0;
        top: 81px;
        display: none;
        background: rgb(212 168 133 / 30%);
    }


    .container,.col-about{
        padding: 0;
    }
    .background{
        display: block;
    }
    .title{
        font-size: 18px !important;
        line-height: 22px !important;
    }
    .subtitle{
        font-size: 12px !important;
        line-height: 20px !important;
    }
    .text-explore,.text-technology, .text-news, .container-textbox p, .content-team h3, .font-logo{
        font-size: 27px !important;
    }
    .viewmore p, .text-2021{
        font-size: 15px !important;
    }
    .content{
        width: 100%;
        left: 0 !important;
        padding: 0 !important;
        top: 0 !important;
}
    
    .content-picture,.content,.content-about{
        width: 100%;
    }
    .title{
        font-size: 15px;
        line-height: 20px;
        text-align: center;
    }
    .subtitle{
        font-size: 10px;
        line-height: 20px;
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .content-text{
        padding: 0 15px;
    }
    .container-header{
        padding: 10px 10px;
    }
    .button-primary{
        display: flex;
    }
    .button-primary span{
        padding: 5px;
        font-size: 8px;
        margin: 10px auto;
    }
    .title-about{
        padding: 0;
        display: block;
        text-align: center;
    }
    .content-sagi{
        flex-wrap: wrap;
        padding: 0 15px;
        display: flex;
        font-size: 13px;
        line-height: 27px;
    }
    .sagi-1,.sagi-2{
        margin: 0;
        padding: 15px 0;
    }
    .padding-picture{
        padding-bottom: 192px;
    }
    .content-technology{
        margin: 0;
    }
    .tech-item-1,.tech-item-2,.tech-item-3{
        padding: 0;
        flex-wrap: wrap;
    }
    .text-technology{
        font-size: 30px;
        line-height: 45px;
        text-align: center;
        padding-top: 33px;
    }
    .col-content{
        padding: 10px 15px;
    }
    .our-img-fa{
        width: 100%;
    }
    .content-our-1{
        font-size: 15px !important;
        text-align: left; 
        padding-bottom: 10px;
    }
    .tech-item-2{
        margin: 0;
        flex-direction: column-reverse;
    }
    .tech-item-4{
        flex-wrap: wrap;
    }
    .content-subtitle-1{
        font-size: 12px;
        text-align: left;
        line-height: 15px;
    }
    .text-learn{
        font-size: 10px;
        padding-right: 10px;
    }
    .icon-next{
        padding: 5px;
    }
    .tech-item-4,.our-img-fa{
        padding-top: 20px;
    }
    .content-partner, .container-textbox p{
        padding: 0;
    }
    .container-textbox{
        padding: 15px 30px;
    }
    .content-team{
        flex-wrap: wrap;
        padding: 0 30px;
        margin: 0;
    }
    .content-team h3{
        padding: 0;
        margin: 0 auto;
    }
    .team-child{
        flex-wrap: wrap;
        width: 33%;
    }
    .team-child .item, .content-news{
        margin: 20px 0 22px 0;
    }
    .list{
        padding: 0 30px;
    }
    .content-testimonial{
        flex-wrap: wrap;
        padding: 28px 30px;
        gap: 28px;
    }
    .content-inner{
        width: 100%;
    }
    .text-explore{
        margin-top: 30px;
        font-size: 30px;
        text-align: center;
    }
    .info-avatar{
        flex-wrap: wrap;
        justify-content: center;
    }
    .vector-1{
        margin: 0;
    }
    .vector-1{
        margin-right: 5px;
    } 
    .vector-2{
        margin-left: 5px;
    }
    .content-item{
        width: 100%;
    }
    .picture-1{
        width: calc(100%/1);
    }
    .pic-group,.width-contact{
        width: 100%;
    }
    .mask-group{
        padding: 0;
    }
    .text-lorem-lipsum{
        font-size: 16px !important;
    }
    .content-logo, .text-lorem-lipsum{
        text-align: center;
    }
    .font-logo{
        font-size: 30px;
    }
    .text-starting{
        font-size: 18px;
        padding: 18px 0;
        line-height: 33px;
    }
    .btngroup{
        display: none;
    }
    .text-news{
        text-align: center;
        padding: 0 30px 30px 30px;
        font-size: 30px;
    }
    .btn-contact, .group-ellipse{
        justify-content: center;
    }
    .text-getintouch{
        text-align: center;
        font-size: 29px;
        padding: 0;
    }
    .content-email{
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }
    .email, .phone{
        padding: 5px;
    }
    .social{
        display: flex;
        justify-content: center;
        padding: 13px;
    }
    .social img{
        padding: 12px;
    }
    .content-logo, .content-title{
        padding: 15px 0;
    }
    .text-address{
        text-align: center;
    }
    .content-2021{
        text-align: center;
        padding: 0;
    }
    .btn-next{
        padding: 24px 0;
        display: flex;
        justify-content: center;
    }


}
 /* .content-picture{
    position: relative;
    width: 100%;
} */
@media (max-width: 575.98px) { 
    .container-header{
        padding: 10px 10px;
    }
    .sagi-1, .sagi-2{
        margin: 0;
        padding: 30px 0;
    }
    .vector-none{
        display: none;
    }
    .menu-mobile{
        display: none;
    }
    .icon-bar{
        display: flex;
        justify-content: flex-end;
    }
    .icon-menu{
        display: block;
        font-size: 30px;
        color: white;
    }
    .menu {
        display: block;
    }
    #list-menu {
        display: none;
    }
    #list-menu{
        z-index: 8;
        flex-wrap: wrap;
        border: 1px solid;
        line-height: 34px;
        justify-content: center;
        padding: 19px 35px;
        position: absolute;
        left: 0;
        top: 81px;
        display: none;
        background: rgb(212 168 133 / 30%);
    }



    .content-picture{
        width: 100%;
    }
    .content{
        top: 0;
        left: 0;
        width: 100%;
        padding: 13px 0;
    }
    .title{
        font-size: 17px;
        line-height: 26px;
        text-align: center;
    }
    .subtitle{
        padding: 11px 0;
        font-size: 15px;
        line-height: 21px;
        width: 100%;
        text-align: center;
    }
    .button-primary{
        display: flex;
        justify-content: center;
    }
    .button-primary span{
        padding: 11px 12px;
    }
    .email, .phone{
        padding: 5px;
    }
    .btngroup{
        padding: 24px 0;
    }
    .btn-next{
        padding: 24px 0;
        display: flex;
        justify-content: center;
    }
    .tech-item-2{
        flex-direction: column-reverse;
    }
    .content-introduce, .list-logo-child, .content-partner{
        padding: 0;
    }
    .padding-picture{
        padding-bottom: 194px;
    }
    .content-about{
        width: 100%;
    }
    .title-about{
        display: flex;
        justify-content: center;
        padding: 40px 0 0 0;
    }
    .content-sagi{
        flex-wrap: wrap;
        padding: 0 30px;
    }
    .sagi-1,.sagi-2{
        margin: 0;
    }
    .content-technology{
        margin: 0;
        padding: 13px 25px;
    }
    .text-technology, .text-news, .text-explore, .content-team h3{
        font-size: 30px;
        text-align: center;
        line-height: 36px;
        padding-top: 20px;
    }
    .content-our-1{
        font-size: 17px;
        padding-bottom: 0;
    }
    .content-subtitle-1 {
        font-size: 14px;
        line-height:  22px;
    }
    .tech-item-1, .tech-item-2, .tech-item-3{
        padding: 37px 0 0 0;
        flex-wrap: wrap;
        margin: 0;
    }
    .our-img-fa{
        width: 100%;
    }
    .content-2{
        padding: 16px 0;
        text-align: left;
    }
    .button-learnmore{
        justify-content: left;
    }
    .content-1{
        height: 0;
    }
    .container-textbox, .content-team{
        padding: 0 30px
    }
    .container-textbox p{
        padding: 0;
        font-size: 30px;
        padding-top: 30px;
    }
    .content-team{
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
    }
    .content-team h3{
        font-size: 30px;
        padding: 30px;
    }
    .team-child{
        flex-direction: column;
    }
    .item{
        margin: 23px 0;
    }
    .background-content{
        margin: 0;
    }
    .content-testimonial{
        padding: 0 30px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 72px;
    }
    .content-inner{
        text-align: center;
        width: 90%;
    }
    .text-explore{
        padding-top: 30px;
    }
    .content-item{
        width: 90%;
    }
    .group-info{
        flex-wrap: wrap;
        justify-content: center;
    }
    .content-lorem{
        padding: 26px 0 26px 0;
    }
    .group-ellipse{
        justify-content: center;
        padding: 0 0 34px 0;
    }
    .content-news{
        margin: 0;
        padding:  0 30px;
    }
    .title-text{
        padding: 20px 0;
        flex-wrap: wrap;
        justify-content: center;
    }
    .group-picture{
        flex-wrap: wrap;
        padding: 0;
    }
    .picture-1{
        width: calc(100%/1);
        padding: 26px 0;
    }
    .pic-group{
        width: 100%;
    }
    .text-lorem-lipsum{
        font-size: 23px;
        text-align: left;
        padding: 0;
    }
    .viewmore{
        justify-content: left;
        padding: 24px 0;
    }
    .viewmore p{
        font-size: 20px;
    }
    .font-logo{
        font-size: 30px;
        text-align: center;
    }
    .width-contact, .content-title{
        width: 100%;
        text-align: center;
    }
    .btn-contact, .text-address,.content-email{
        justify-content: center;
    }
    .container-footer{
        padding: 0 30px;
        flex-wrap: wrap;
    }
    .content-logo, .content-title{
        padding: 30px 0;
    }
    .mask-group{
        padding: 0;
    }
    .text-contact{
        font-size: 13px;
    }
    .text-getintouch{
        padding: 10px;
        font-size: 24px;
        display: flex;
        justify-content: center;
    }
    .text-starting{
        font-size: 18px;
    }
    .btn-contact{
        padding-bottom: 20px;
    }
    .social{
        display: flex;
        justify-content: center;
        padding: 0;
    }
    .social img{
        padding: 20px;
    }
    .content-2021{
        padding: 0;
        text-align: center;
        padding-bottom: 15px;
    }
    .text-2021{
        font-size: 13px;
    }
    .content-email{
        flex-wrap: wrap;
    }

 }

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .container-header{
        padding: 10px 10px;
    }
    .btn-next{
        padding: 24px 0;
        display: flex;
        justify-content: center;
    }
    .vector-none{
        display: none;
    }
    .menu-mobile{
        display: none;
    }
    .icon-bar{
        display: flex;
        justify-content: flex-end;
    }
    .icon-menu{
        display: block;
        font-size: 30px;
        color: white;
    }
    #list-menu {
        display: none;
    }
    
    #list-menu{
        z-index: 8;
        flex-wrap: wrap;
        border: 1px solid;
        line-height: 34px;
        justify-content: center;
        padding: 19px 35px;
        position: absolute;
        left: 0;
        top: 81px;
        display: none;
        background: rgb(212 168 133 / 30%);
    }


    .content-introduce{
        padding: 0;
    }
    .content-picture{
        width: 100%;
    }
    .padding-picture{
        padding-bottom: 24px;
    }
    .content{
        left: 0;
        text-align: center;
        padding: 20px;
    }
    .title{
        font-size: 25px;
        text-align: center;
        line-height: 35px;
    }
    .subtitle{
        width: 100%;
    }
    .content-about{
        margin: 0;
        width: 100%;
        padding: 28px 0;
        flex-wrap: wrap;
    }
    .title-about{
        font-size: 40px;
        padding: 0;
        justify-content: center;
    }
    .content-sagi{
        padding: 0 30px;
        flex-wrap: wrap;
    }
    .sagi-1, .sagi-2{
        margin: 0;
        padding: 38px 0;
    }
    .content-technology{
        margin-top: 0;
        padding: 40px 30px;
    }
    .text-technology{
        font-size: 40px;
        line-height: 45px;
    }
    .tech-item-1, .tech-item-2, .tech-item-3{
        padding: 26px 0;
    }
    .our-img-fa{
        width: 100%;
    }
    .col-content{
        padding: 18px 24px;
    }
    .tech-item-2{
        margin-top: 0;
    }
    .content-our-1{
        font-size: 18px;
        padding-bottom: 0;
    }
    .content-partner{
        padding: 0;
    }
    .container-textbox{
        padding: 0 40px;
    }
    .list-logo-child .height-picture{
        width: calc(100%/2);
    }
    .content-team{
        margin: 0;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
    }
    .picture-child{
        padding-top: 64.26735218508997%;
        position: relative;
        width: 100%;
    }
    .pic-group{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .mask-group{
        padding: 0;
    }
    .text-lorem-lipsum{
        text-align: left;
        padding: 20px 0;
        font-size: 26px;
    }
    .viewmore p{
        font-size: 16px;
    }
    .list-logo-child{
        padding-bottom: 30px;
    }
    .viewmore{
        justify-content: left;
    }
    .content-team h3{
        padding: 38px 0;
        font-size: 40px;
    }
    .team-child{
        flex-wrap: wrap;
        justify-content: center;
    }
    .content-testimonial{
        padding: 0;
        flex-wrap: wrap;
        justify-content: center;
        gap: 35px;
    }
    .content-inner{
        width: 90%;
        text-align: center;
        padding: 14px 0;
    }
    .text-explore{
        font-size: 40px;
        line-height: 55px;
    }
    .content-item{
        width: 90%;
    }
    .content-lorem{
        padding: 25px 0;
    }
    .font-lorem{
        font-size: 20px;
    }
    .group-ellipse{
        justify-content: center;
        padding: 20px 0;
    }
    .content-news{
        margin: 0;
        padding: 0 40px;
    }
    .title-text{
        padding: 22px 0;
    }
    .group-picture{
        padding: 0;
        flex-wrap: wrap;
    }
    .picture-1{
        width: calc(100%/1);
        
    }
    .content-footer{
        padding: 0 40px;
        flex-wrap: wrap;
    }
    .content-logo{
        padding: 16px 0;
    }
    .font-logo{
        font-size: 40px;
        text-align: center;
    }
    .width-contact{
        width: 100%;
        text-align: center;
    }
    .btn-contact{
        justify-content: center;
        padding-bottom: 40px;
    }
    .text-2021{
        text-align: center;
        font-size: 20px;
    }
    .content-title{
        width: 100%;
    }
    .text-getintouch{
        justify-content: center;
    }
    .content-email{
        justify-content: center;
    }
    .text-address{
        justify-content: center;
        font-size: 16px;
    }
    .social{
        display: flex;
        justify-content: center;
        padding: 22px 0;
    }
    .container-textbox p{
        padding: 15px 0;
        font-size: 40px;
    }
  }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .vector-none-1{
        display: none;
    }
    .menu-mobile{
        display: none;
    }
    .container-header{
        padding: 0 10px;
    }
    .menu ul li a{
        padding: 0 20px;
        font-size: 12px;
    }
    .container{
        padding: 0;
    }
    .content-picture{
        width: 100%;
    }
    .content{
        left: 0;
        padding: 36px;
    }
    .title{
        font-size: 33px;
        text-align: center;
        line-height: 43px;
    }
    .subtitle{
        width: 100%;
    text-align: center;
    }
    .button-primary{
        display: flex;
        justify-content: center;
    }
    .content-about{
        width: 100%;
    }
    .title-about{
        font-size: 40px;
        justify-content: center;
        padding: 35px 0;
    }
    .content-sagi{
        padding: 0 40px;
    flex-wrap: wrap;
    font-size: 20px;
    }
    .sagi-1 , .sagi-2{
        margin: 0;
        padding: 20px 0;
    }
    .info-1{
        font-size: 16px;
    }
    .content-our-1{
        font-size: 20px;
        padding-bottom: 0;
    }
    .content-technology{
        padding: 0 40px;
        margin: 0;
    }
    .text-technology{
        font-size: 40px;
    }
    .tech-item-1, .tech-item-2, .tech-item-3{
        margin: 0;
    }
    .our-img-fa{
        width: 100%;
    }
    .content-2{
        text-align: left;
        padding: 55px 22px;
    }
    .button-learnmore{
        justify-content: left;
    }
    .text-learn{
        font-size: 14px;
    }
    .container-textbox{
        padding: 0 40px;
    }
    .list-logo-child .height-picture{
        flex-basis: calc(100%/3);
    }
    .content-team{
        padding: 0 40px;
        flex-wrap: wrap;
        margin: 0;
        justify-content: center;
    }
    .content-team h3{
        font-size: 40px;
        padding: 40px 0;
    }
    .team-child .item{
        margin: 0 30px 50px 30px;
    }
    .background-content{
        margin: 0;
    }
    .content-testimonial{
        flex-wrap: wrap;
        padding: 50px 40px;
        gap: 60px;
        text-align: center;
    }
    .content-inner{
        width: 100%;
        font-size: 40px;
    }
    .content-item{
        width: 100%;
    }
    .font-lorem{
        text-align: initial;
        font-size: 19px;
    }
    .content-news{
        padding: 0 40px;
    }
    .text-news{
        font-size: 40px;
    }
    .pic-group{
        width: 100%;
    }
    .text-lorem-lipsum{
        font-size: 16px;
        text-align: left;
        padding: 12px 0;
    }
    .viewmore{
        display: flex;
        justify-content: left;
    }
    .text-viewmore{
        font-size: 18px;
    }
    .container-footer{
        padding: 34px 40px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .content-logo{
        text-align: center;
    }
    .font-logo{
        font-size: 40px;
    }
    .width-contact{
        width: 100%;
    }
    .text-starting{
        font-size: 28px;
    }
    .btn-contact{
        justify-content: center;
    }
    .text-contact{
        font-size: 14px;
    }
    .text-2021{
        font-size: 16px;
    }
    .text-getintouch{
        font-size: 40px;
        justify-content: center;
    }
    .content-email{
        justify-content: center;
    }
    .social{
        display: flex;
        justify-content: center;
    }
    .picture-1{
        width: calc(100%/3);
    }
   
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .vector-none-1{
        display: none;
    }
    .menu-mobile{
        display: none;
    }
    .container-header{
        padding: 0 10px;
    }
    .menu ul li a{
        padding: 0 25px;
    }
    .tech-item-1{
        padding-top: 40px;
    }
    .container{
        padding:  0 20px;
    }
    .content-picture{
        width: 70%;
    }
    .content{
        left: -43%;
    }
    .title{
        font-size: 30px;
        line-height: 42px;
    }
    .title-about{
        padding: 29px;
        font-size: 40px;
        display: flex;
        justify-content: center;
    }
    .content-sagi{
        padding: 26px 40px;
    }
    .content-technology{
        margin-top: 40px;
        padding: 0 20px;
    }
    .text-technology, .text-news{
        font-size: 40px;
    }
    .col-content{
        padding: 10px 40px;
    }
    .pt10{
        padding-top: 61px;
    }
    .container-textbox{
        padding: 0 20px;
    }
    .content-about{
        width: 100%;
    }
    .container-textbox p{
        font-size: 40px;
        padding-top: 40px;
    }
    .list-logo-child{
        padding-bottom: 40px;
    }
    .content-team{
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px 20px;
        margin: 0;
    }
    .content-team h3{
        font-size: 40px;
        padding: 40px 0;
    }
    .tech-item-2{
        margin-top: 0;
        padding-top: 50px;
    }
    .picture-child{
        padding-top: 64.26735218508997%;
        position: relative;
        width: 100%;
    }
    .pic-group{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .text-lorem-lipsum{
        font-size: 17px;
    }
    .container-footer{
        padding: 40px 20px;
    }
    .text-contact{
        font-size: 15px;
    }
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    /* .head{
        max-width: 1240px;
    } */
 }