*{
    margin: 0;
    list-style: none;
    text-decoration: none;
}
.hidden{
    display: none;
}
.background-body{
    background-color: black;
    font-family: Poppins;
}
/* header */
.container-header{
    padding: 0 40px;
}
.container{
    padding: 0 105px;
}
.head{
    background-color: #161616;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 25px;
}
.logo{
    Cursor: pointer;
}
.menu-mobile{
    display: none;
}
.icon-close-menu {
    position: absolute;
    top: 5px;
    right: 15px;
}
.menu-mobile {
    position: fixed;
    top: 0;
    right: 0;
    background-color: darkgrey;
    padding: 18px;
    height:100vh;
    width: 250px;
    z-index:9999;
}
#list-menu-mobile li {
    line-height: 50px;
}
#list-menu-mobile li  a {
    color:black;
}
#list-menu-mobile li .border-contact {
    color: #000;
    
}
#list-menu-mobile li:last-child{
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    color: #000;
    height: 45px;
    display: flex;
    align-items: center;
    font-weight: 600;
    justify-content: center;
}
.menu ul{
    color: white;
    display: flex;
    align-items: center;}
.menu ul li a {
    padding: 0 35px;
    font-weight: 400;
    font-size: 16px;
    color: #F0F0F0;
}
.menu ul li a  {
    color: #F0F0F0;
}
.menu ul li .border-contact {
    color: #000;
    font-weight: 600;

}
.menu ul li:last-child{
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    color: #000;
    height: 45px;
    display: flex;
    align-items: center;
    font-weight: 600;
}


/* Introduce */
#Introduce{
    background-color: #161616;
}
.btn-primary{
    display: flex;
}
.content-introduce{
    /* display: flex; */
    /* justify-content: flex-end; */
    padding-top: 51px;
}
.content-text,.button-primary{
    color: #fff;
}
.content-picture{
    position: relative;
    width: 60%;
}
.vector-none-1{
    display: none;
}
.content{
    z-index: 2;
    position: absolute;
    top: 10%;
    left: -65%;
    transform: translate(0,0);
    width: 90%;
}
.btn-group{
    
}
.title{
    font-size: 48px;
    font-weight: 600;
    font-family: Poppins;
    line-height: 60px;
}
.subtitle{
    font-size: 20px;
    font-weight: 400;
    color: #F0F0F0;
    padding-top: 35px;
    padding-bottom: 42px;
    width: 83%;
    line-height: 32px;
}
.button-primary{
    /* height: 54px; */
    color: #000;
    /* background-color: #fff; */
    /* width: 37%; */
    font-size: 16px;
    font-weight: 600;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    cursor: pointer;
}
.button-primary span{
    padding: 15px 25px;
    background-color: #fff;
    border-radius: 40px;

}
.padding-picture{
    padding-bottom: 295px;
    padding-top: 58.5227272727273%;
    position: relative;
}
.background-img{
    position: absolute;
    top: 0;
    width: 100%;
}
.background{
    display: flex;
    justify-content: flex-end;
}
/* About-us */
.content-about{
    background-color: #00372D;
    width: 80%;
    color: #F0F0F0;
    margin-top: -181px;
}
.col-about{
    padding: 0 105px;
}
.content-sagi{
    display: flex;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: #F0F0F0;
    padding-top: 45px;
    padding-bottom: 75px;
    display: flex;
    align-items: center;
    opacity: 0.6;
}
.sagi-1{
    margin-right: 38px;
}
.sagi-2{
    margin-left: 38px;
}
.title-about{
    font-size: 30px;
    line-height: 45px;
    font-weight: 700;
    letter-spacing: 0.16em;
    display: flex;
    padding-left: 104px;
    padding-top: 105px;
}
/* Technology */
.content-technology{
    margin-top: 115px;
}
.text-technology{
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 105px;
    color: #F0F0F0;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.2em;
    opacity: 0.25;
}
.tech-item-1{
    display: flex;
    padding-top: 104px;
}
.tech-item-4{
    display: flex;
    padding-top: 50px;
}
.tech-item-2{
    display: flex;
    justify-content: end;
    margin-top: -56px;
}
.tech-item-3{
    display: flex;
    padding-top: 50px;
}
.content-tech{
    color: #ffff;
}
/* .icon-next{
    border-radius: 30px solid #ffff;
    padding: 49px 49px;
} */
.content-1{
    padding-top: 116.6666666666667%;
    position: relative;
    height: 100%;
}
.col-content{
    padding: 0 75px;
}
.our-img-fa{
    width: 50%;
}
.our-img{
    position: absolute;
    top: 0;
    width: 100%;
}
.content-2{
    color: white;
    padding-top: 92px;
}
.content-3{
    /* width: 43%; */
    color:#F0F0F0;
    /* padding-right: 18px; */
}
/* .content-4{
    padding-left: 16px;
    padding-bottom: 27px;
    padding-top: 27px;
} */
.content-our-1{
    color: #F0F0F0;;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 139.19%;
    padding-bottom: 23px;
} 
.pt-10{
    padding-top: 170px;
}
.content-our-2{
    color: #F0F0F0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 139.19%;
    padding-bottom: 23px;
}
.icon-next{
    border-radius: 30px;
    padding: 14px;
    border: 1px solid #4F4F4F;
    margin-right: 23px;
    cursor: pointer;
}
.icon-next:hover{
    background-color: #F0F0F0;
    color: #000;
}
.text-learn{
    padding-right: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 3px;
    cursor: pointer;
    color: #F0F0F0;
}
.text-learn:hover{
    font-size: 20px;
    font-weight: 600;
}
.content-subtitle-1{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    padding-bottom: 19px;
    opacity: 0.6;
}
.content-subtitle-2{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    padding-bottom: 19px;
    width: 80%;
    opacity: 0.6;
}
.button-learnmore{
    display: flex;
    align-items: center;
}
/* Partner */

.content-partner{
    padding-left: 105px;
    padding-top: 175px;
}
.list-logo{
    display: flex;
}
.textbox{
    background-color: #161616;
}
.list-logo-child{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 90px;
}
.list-logo-child .height-picture{
    flex: 1;
    flex-basis: calc(100%/4);
    margin: 40px 0;
}
.container-textbox p{
    padding-top: 130px;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: #F0F0F0;
    padding-bottom: 40px;
    letter-spacing: 0.16em;
}
.container-textbox{
    padding: 0 130px;
}
.height-picture img{
    display: block;
    margin: 0 auto;
    height: 50px;
    width: 150px;
}
/* Team */
.content-team{
    display: flex;
    justify-content: space-between;
    margin-top: 134px;
    padding-left: 105px;
    padding-right: 131px;
}
.item div{
    padding-bottom: 19px;
}
.avatar{
    border-radius: 91px;
}
.avatar-7{
    border-radius: 91px;
    transform: rotate(9.1deg);
}
.info-1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 154.69%;
    letter-spacing: 0.01em;
    color: #F0F0F0;
}
.info-2{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #F0F0F0;
    opacity: 0.6;
    width: 80%;
    /* text-align: center; */
    margin: 0 auto;

opacity: 0.6;
}
.item{
    flex-wrap: wrap;
    text-align: center;
}
.content-team h3{
    color: #F0F0F0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.16em;
}
.team-child{
    display: flex;
}
.team-child .item{
    margin: 0 50px 50px 50px;
}
/* Testimonial */
.background-content{
    background-color: #00372D;
    margin-top: 76px;
}
.container-inner{
    padding: 136px 105px;
}
.text-explore{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #F0F0F0;
}
.info{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #F0F0F0;
    opacity: 0.6;
}
.name{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 154.69%;
    letter-spacing: 0.01em;
    color: #F0F0F0;
}
.avatar-wells{
    border-radius: 50px;
}
.content-inner{
    width: 40%;
}
.content-item{
    width: 60%;
}
.content-testimonial{
    display: flex;
    gap: 151px;
}
.vector-1{
    border-radius: 30px;
    padding: 14px;
    border: 1px solid #F0F0F0;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    margin-right: 17px;
    cursor: pointer;
    color: #F0F0F0;
}
.vector-1:hover{
    background-color: #F0F0F0;
    color: #000;
}
.vector-2:hover{
    background-color: #F0F0F0;
    color: #000;
}
.vector-2{
    border-radius: 30px;
    padding: 14px;
    border: 1px solid #F0F0F0;
    cursor: pointer;
    color: #F0F0F0;
}
.group-info{
    display: flex;
    justify-content: space-between;
}
.info-avatar{
    display: flex;
}
.info-name{
    padding: 0 29px;
}
.font-lorem{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #F0F0F0;
    opacity: 0.6;
}
.content-lorem{
    padding-top: 41px;
    padding-bottom: 45px;
}
.group-ellipse{
    display: flex;
    cursor: pointer;
}
.icon-ellipe-1{
    padding-right: 8px;
}
.icon-ellipe-2{
    padding-right: 8px;
    opacity: 0.3;
}
/* News */
.content-news{
    margin-top: 114px;
}
.text-news{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    align-items: center;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #F0F0F0;
}
.title-text{
    display: flex;
    justify-content: space-between;
}
.viewmore{
    display: flex;
    padding-top: 3px;
    padding-bottom: 61px;   
    cursor: pointer;
}
.viewmore p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #F0F0F0;
    opacity: 0.6;
    padding-right: 12px;
}
.text-lorem-lipsum{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 154.69%;
    letter-spacing: 0.01em;
    color: #F0F0F0;
    padding: 31px 0 31px 0;
}
.picture-1{
    width: calc(100%/3);
    cursor: pointer;
}
.mask-group{
    padding: 0 32px;
}
.group-picture{
    display: flex;
    justify-content: space-between;
    padding-top: 57px;
    padding-bottom: 32px;
}
/* Footer */
#Footer{
    background-color: #161616;
}
.content-footer{
    color: #F0F0F0;
    display: flex;
}
.container-footer{
    padding: 0 104px;
    padding-top: 102px;
}
.font-logo{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.text-starting{
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 42px;
    color: #F0F0F0;
    padding-top: 49px;
    padding-bottom: 31px;
}
.btn-contact{
    display: flex;
    padding-bottom: 107px;
}
.text-contact{
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-right: 16px;
    cursor: pointer;
}
.icon-contact{
    border-radius: 30px;
    padding: 14px;
    border: 1px solid #4F4F4F;
    cursor: pointer;
}
.icon-contact:hover{
    background-color: #F0F0F0;
    color: #000;
}
.width-contact{
    width: 55%;
}
.text-getintouch{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #F0F0F0;
    opacity: 0.6;
    padding-bottom: 30px;
}
.email{
    padding-right: 31px;
}
.phone{
    padding-left: 31px;
}
.text-email{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #F0F0F0;
    border-bottom: 2px solid #C4C4C4;
    cursor: pointer;
}
.content-email{
    display: flex;
    padding-bottom: 20px;
}
.text-phone{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #F0F0F0;
    border-bottom: 2px solid #C4C4C4;
    cursor: pointer;
}
.text-address{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #F0F0F0;
    padding-top: 20px;
    cursor: pointer;
}
.social{
    padding-top: 50px;
    cursor: pointer;
}
.social img{
    padding-right: 27px;
}
.text-2021{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #757575;
    cursor: pointer;
}
.content-2021{
    padding-bottom: 25px;
}